.table, th{
    background-color: aqua;
    color: chocolate;
    padding: 3px;
    text-align: -moz-center;
    border-collapse: separate;
}
td{
    color: bisque;
    background-color: darkgrey;
    text-align: -moz-center;
    padding: 3px;
    border-collapse: collapse;

}